<div class="container">
  <h3 mat-dialog-title>{{ data.name }}</h3>
  <div mat-dialog-content>
    <strong>Email:</strong> {{ data.email }}
    <p></p>
    <strong>Phones:</strong>
    <!--mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let phone of data.phones">
        ({{ phone.areaCode }}) {{ phone.phoneNumber }}
      </mat-list-item>
    </mat-list -->
  </div>

  <div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="1">Ok</button>
  </div>
</div>
